.buy-coffee-main{
    background-color: #202123;
    padding: 60px 30px;
    max-width: 1000px;
    margin: 70px auto 70px;
    box-shadow: 0px 20px 30px -18px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}
.coffee-video{
    width: 100%;
    height: 650px;
    border-radius: 16px;
    padding: 0 21px;
    overflow: hidden;
    position: relative;
}
.coffee-video a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.coffee-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
